In [1]:
!pip install requests
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

Requirement already satisfied: requests in c:\users\aayus\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\aayus\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aayus\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\aayus\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\aayus\anaconda3\lib\site-packages (from requests) (1.26.4)

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks.head()

  Ticker
0      A
1    AAL
2    AAP
3   AAPL
4   ABBV

In [3]:
from secrets import IEX_CLOUD_API_TOKEN

In [4]:
symbol='GOOGL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
print(data)

{'avgTotalVolume': 2257429, 'calculationPrice': 'close', 'change': -30.52, 'changePercent': -0.01361, 'close': 2219.83, 'closeSource': 'ifoilafc', 'closeTime': 1686763619006, 'companyName': 'Alphabet Inc - Class A', 'currency': 'USD', 'delayedPrice': 2271.72, 'delayedPriceTime': 1721439938883, 'extendedChange': 1.96, 'extendedChangePercent': 0.00088, 'extendedPrice': 2204.18, 'extendedPriceTime': 1714341012502, 'high': 2339.02, 'highSource': 'ciXmrIErtl e  eapei', 'highTime': 1733421474092, 'iexAskPrice': None, 'iexAskSize': None, 'iexBidPrice': None, 'iexBidSize': None, 'iexClose': 2244.86, 'iexCloseTime': 1693562707709, 'iexLastUpdated': None, 'iexMarketPercent': None, 'iexOpen': 2286.26, 'iexOpenTime': 1733440450602, 'iexRealtimePrice': None, 'iexRealtimeSize': None, 'iexVolume': None, 'lastTradeTime': 1721080237438, 'latestPrice': 2264.2, 'latestSource': 'Close', 'latestTime': 'May 20, 2022', 'latestUpdate': 1711791788779, 'latestVolume': 2492354, 'low': 2202.728, 'lowSource': 'em ei ul t5edcin1prayed', 'lowTime': 1677333627157, 'marketCap': 1520789574050, 'oddLotDelayedPrice': 2186.6, 'oddLotDelayedPriceTime': 1712764952506, 'open': 2339.02, 'openTime': 1685961609332, 'openSource': 'oacilffi', 'peRatio': 19.8, 'previousClose': 2262.41, 'previousVolume': 1748849, 'primaryExchange': 'SQNDAA', 'symbol': 'GOOGL', 'volume': 2448329, 'week52High': 3145.44, 'week52Low': 2182.938, 'ytdChange': -0.2707371708881618, 'isUSMarketOpen': False}

In [5]:
price = data['latestPrice']
market_cap = data['marketCap']
prev_close = data['previousClose']

In [6]:
my_columns = ['Ticker', 'Stock Price', 'Market Cap', 'Number of Shares to Buy', 'Previous Closing Price']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Cap, Number of Shares to Buy, Previous Closing Price]
Index: []

In [7]:
final_dataframe.append(
    pd.Series(
        [
            symbol,
            price,
            market_cap,
            'N/A',
            prev_close
        ],
        index = my_columns,
    ),
    
    ignore_index = True
)

,Ticker,Stock Price,Market Cap,Number of Shares to Buy,Previous Closing Price
0,GOOGL,2264.2,1520789574050,N/A,2262.41

In [8]:
final_dataframe = pd.DataFrame(columns=my_columns)

for stock in stocks['Ticker'][:5]:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
        pd.Series(
            [
                stock,
                data['latestPrice'],
                data['marketCap'],
                'N/A',
                data['previousClose']
            ],
            index = my_columns),
        ignore_index=True
)

In [9]:
final_dataframe

,Ticker,Stock Price,Market Cap,Number of Shares to Buy,Previous Closing Price
0,A,129.47,39383447165,N/A,124.30
1,AAL,16.29,10730669074,N/A,17.31
2,AAP,188.41,11376663416,N/A,202.88
3,AAPL,142.25,2330816711242,N/A,141.69
4,ABBV,151.05,276177660837,N/A,158.11

In [10]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [11]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_groups

[0         A
 1       AAL
 2       AAP
 3      AAPL
 4      ABBV
       ...
 95     CINF
 96       CL
 97      CLX
 98      CMA
 99    CMCSA
 Name: Ticker, Length: 100, dtype: object,
 100     CME
 101     CMG
 102     CMI
 103     CMS
 104     CNC
        ...
 195    FTNT
 196     FTV
 197      GD
 198      GE
 199    GILD
 Name: Ticker, Length: 100, dtype: object,
 200     GIS
 201      GL
 202     GLW
 203      GM
 204    GOOG
        ...
 295     MAA
 296     MAR
 297     MAS
 298     MCD
 299    MCHP
 Name: Ticker, Length: 100, dtype: object,
 300     MCK
 301     MCO
 302    MDLZ
 303     MDT
 304     MET
        ...
 395     RHI
 396     RJF
 397      RL
 398     RMD
 399     ROK
 Name: Ticker, Length: 100, dtype: object,
 400     ROL
 401     ROP
 402    ROST
 403     RSG
 404     RTX
        ...
 495    XLNX
 496     XOM
 497    XRAY
 498     XRX
 499     XYL
 Name: Ticker, Length: 100, dtype: object,
 500     YUM
 501     ZBH
 502    ZBRA
 503    ZION
 504     ZTS
 Name: Ticker, dtype: object]